a.back-to-top
	display: none
	width: 60px
	height: 60px
	text-indent: -9999px
	position: fixed
	z-index: 999
	right: 20px
	bottom: 20px
	background: color-footer url("/images/up-arrow.png") no-repeat center 43%
	-webkit-border-radius: 30px
	-moz-border-radius: 30px
	border-radius: 30px
	&:hover
		background: color-link url("/images/up-arrow.png") no-repeat center 43%
		/* transition */
		-webkit-transition: 1s;
		-moz-transition: 1s;
		transition: 1s;
